# Filter DataFrame for ANY rows that have NaNs
https://stackoverflow.com/questions/14247586/python-pandas-how-to-select-rows-with-one-or-more-nulls-from-a-dataframe-without

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([range(3), [0, np.NaN, 0], [0, 0, np.NaN], range(3), range(3)])

In [5]:
df

   0    1    2
0  0  1.0  2.0
1  0  NaN  0.0
2  0  0.0  NaN
3  0  1.0  2.0
4  0  1.0  2.0

You can use isnull and any to build a boolean Series and use that to index into your frame

In [6]:
df.isnull()

       0      1      2
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4  False  False  False

In [7]:
df.isnull().any(axis=1)

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [8]:
df[df.isnull().any(axis=1)]

   0    1    2
1  0  NaN  0.0
2  0  0.0  NaN