In [4]:
import pandas as pd
import numpy as np

From https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html

In a DataFrame, the rows and columns are completely symmetric, and just as the rows can have multiple levels of indices, the columns can have multiple levels as well. Consider the following, which is a mock-up of some (somewhat realistic) medical data:

In [6]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
df = pd.DataFrame(data, index=index, columns=columns)
df

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      39.0  36.2  36.0  35.5  46.0  37.1
     2      28.0  37.3  41.0  36.4  54.0  37.2
2014 1      21.0  37.0  49.0  36.6  23.0  38.3
     2      37.0  37.3  20.0  36.2  56.0  39.3

In [8]:
# mi = columns of multi-indexed df 
mi = df.columns

# ind = creates list that combines the multiple levels of the index into single values (via concatenation)
ind = pd.Index([e[0] + e[1] for e in mi.tolist()])

# replace multiple-level column labels with single-level column labels
df.columns = ind

In [10]:
df.columns

Index([u'BobHR', u'BobTemp', u'GuidoHR', u'GuidoTemp', u'SueHR', u'SueTemp'], dtype='object')

In [11]:
df

            BobHR  BobTemp  GuidoHR  GuidoTemp  SueHR  SueTemp
year visit
2013 1       39.0     36.2     36.0       35.5   46.0     37.1
     2       28.0     37.3     41.0       36.4   54.0     37.2
2014 1       21.0     37.0     49.0       36.6   23.0     38.3
     2       37.0     37.3     20.0       36.2   56.0     39.3