# Create a new column using a custom function and apply method

In [1]:
import pandas as np
import seaborn as sns

In [14]:
data = sns.load_dataset('iris')

In [15]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
# this function checks if species == 'versicolor'
def converter(species):
    if species == 'versicolor':
        return 1
    else:
        return 0

In [22]:
data['is_versicolor'] = data['species'].apply(converter)

In [28]:
data.iloc[47:52,:]

,sepal_length,sepal_width,petal_length,petal_width,species,is_versicolor
47,4.6,3.2,1.4,0.2,setosa,0
48,5.3,3.7,1.5,0.2,setosa,0
49,5.0,3.3,1.4,0.2,setosa,0
50,7.0,3.2,4.7,1.4,versicolor,1
51,6.4,3.2,4.5,1.5,versicolor,1